body {
    font-family: monospace, cursive;
    max-width: 800px;
    margin: auto;
    padding: 20px;
    background-image: url('/liminal.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2 {
    color: rebeccapurple;
    font: bold;
    font-family: monospace;
}

.section {
    margin-bottom: 20px;
}
